@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.Card-show {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  align-items: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.Card-show img {
  width: 90%;
}
.Card-show__descrption {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 90%;
}
.Card-show__descrption .price {
  margin-left: auto;
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}
.Card-show__descrption .roomName {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.Card-show__descrption .location {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.Card-show__descrption button {
  background-color: black;
  color: #deaa86;
  border: 1px solid #deaa86;
  border-radius: 10rem;
  font-weight: 700;
  font-size: 0.7rem;
  width: 25%;
  max-width: 14rem;
  min-width: 10rem;
  padding: 10px 0px !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.7rem;
}
